@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&family=Style+Script&display=swap');
html, body {
    width: 100%;
    height: 100%;
    background-color: #D99982;
}
h1 {
    font-family: 'Fascinate Inline', sans-serif;
}
li, button, label, option, input {
    font-family: "Style Script", serif;
}
button {
    border-radius: 1rem;
    border: none;
    background-color: #BF6430;
}
.container {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 5fr;
}
.header {
    background-color: white;
    display: grid;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 10px gray;
    margin: 1rem;
    border-radius: .5rem;
}
.header h1 {
    font-size: 5rem;
}
.header button {
    font-size: 2rem;
    margin-bottom: 1rem;
}
.content {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill, 21rem);
    margin-top: 3rem;
    align-items: center;
    justify-content: center;
}
.card {
    height: 16rem;
    width: 20rem;
    background-color: white;
    border-radius: .5rem;
    display: grid;
    align-items: center;
}
.card h1 {
    justify-self: center;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 0;
}
.card ul, li, button {
    list-style-type: none;
    font-size: 1.5rem;
}

.card ul {
    margin: 0;
}

.card button {
    width: 15rem;
    justify-self: center;
    align-self: center;
    margin-bottom: 16px;
}

.new-book {
    display: grid;
}
.input {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 3fr;
}
label, input, option, optgroup {
    font-size: 1.25rem;
}

form button {
    width: 10rem;
    height: 3rem;
    justify-self: center;
    margin-top: .5rem;
}